<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MatchMyMansion</title>
    <link rel="icon" type="image/x-icon" href="static/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-neutral-900 ">
  <header class="text-zinc-950 body-font   bg-gray-900 h-[120px] mt-0 fixed top-0 w-full z-10">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center -my-6">
      <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="static/logo.png" alt="Logo" class="w-15 h-12">
        <span class="ml-3 text-xl text-neutral-50">MatchMyMansion</span>
      </a>
      <nav class="md:ml-auto  flex flex-wrap items-center text-base justify-center text-neutral-50">
        <a href="/" class="mr-5 hover:text-yellow-400 transition ease-in-out delay-5  hover:-translate-y-1 hover:scale-110  duration-300">Home</a>
        <a href="/prediction_form" class="mr-5 hover:text-yellow-400 transition ease-in-out delay-5  hover:-translate-y-1 hover:scale-110  duration-300">Prediction</a>
        <a href="/contect" class="mr-5 hover:text-yellow-400 transition ease-in-out delay-5  hover:-translate-y-1 hover:scale-110  duration-300">Contact us</a>
        <a href="/" class="mr-5 hover:text-yellow-400 transition ease-in-out delay-5  hover:-translate-y-1 hover:scale-110  duration-300">About</a>

        {%if status==True%}
        <a href="/profile" class="mr-5 hover:text-yellow-400 transition ease-in-out delay-5  hover:-translate-y-1 hover:scale-110  duration-300">{{user}}</a>
        <a href="/cart" class="flex title-font font-medium items-center text-gray-900 mb-1 md:mb-0 hover:-translate-y-1 hover:scale-110 duration-300">
          <img src="static/shopping.png" alt="Logo" class="w-10 h-8">
        </a>
        {% endif %}
        {%if status==False%}
        <a href="/login" class="text-white bg-indigo-500 border-0  px-3 focus:outline-none hover:hover:-translate-y-1 hover:scale-110  duration-300 rounded text-lg ">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <section class="text-black-400 body-font">
    <div class="container px-5 py-5 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-neutral-50">Gurgaon real estate Mansions !</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <!-- <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p> -->
        </div>
      <form action="/recomendation" method="post">
        <div id="showContentBtn" class="flex flex-wrap -m-10 scale-effect">
            {% for i in range(0, n) %}
            <button class="xl:w-1/4 md:w-1/2 p-4" type="submit" name="itr" value="{{index_id[i]}}">
                <!-- <input type="hidden" name="user_img_{{ i }}" value="{{ img_list[i] }}">
                <input type="hidden" name="user_id_{{ i }}" value="{{ index_id[i] }}">
                <input type="hidden" name="user_area_{{ i }}" value="{{ index_area[i] }}">
                <input type="hidden" name="user_price_{{ i }}" value="{{ index_price[i] }}">
                <input type="hidden" name="user_sector_{{ i }}" value="{{ index_sector[i] }}">
                <input type="hidden" name="user_bedroom_{{ i }}" value="{{ index_bedroom[i] }}">
                <input type="hidden" name="user_bathroom_{{ i }}" value="{{ index_bathroom[i] }}">
                <input type="hidden" name="user_rate_{{ i }}" value="{{ index_rate[i] }}"> -->
                <div class="bg-gray-100 p-6 rounded-lg hover:text-Stone-950 transition ease-in-out delay-20 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{ img_list[i] }}" alt="content">
                    <!-- <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">ID-{{ index_id[i] }}</h3> -->
                    <h2 class="text-lg text-green-600 font-medium title-font mb-1"><span>&#8377;</span> {{ index_price[i] }} Cr.</h2>
                    <div class="grid grid-cols-2 gap-2">
                        <p class="leading-relaxed text-base col-span-2 text-xl">Gurgaon , {{ index_sector[i] }} </p>
                        <p class="leading-relaxed text-base">Area-{{ index_area[i] }} sqft. </p>
                        <p class="leading-relaxed text-base"><span>&#8377;</span>{{ index_rate[i] }}/sqft.</p>
                        <p class="leading-relaxed text-base">Bedroom-{{ index_bedroom[i] }}</p>
                        <p class="leading-relaxed text-base">Bathroom-{{ index_bathroom[i] }}</p>
                        
                    </div>
                    
                  </div>
              </button>
            {% endfor %}
        </div>
    </form>
    
      
    </div>
</section>


 

    
    <footer class="text-gray-600 body-font bg-gray-900">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a href="/" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img src="static/logo.png" alt="Logo" class="w-15 h-12">
          <span class="ml-3 text-xl text-neutral-50">MatchMyMansion</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4"></p>
      </div>
    </footer>
</body>
</html>
